html {
    font: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
}

header {
    /*position: fixed;*/
    width: 100%;
    z-index: 10;
}

h1 {
    text-align: center;
    color: white;
    font-weight: lighter;
    background-color: black;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

ul {
    background: black;
    list-style: none;
    margin: 0;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    display: flex;
    flex-flow: row;
    justify-content: center;
} 

li.nav {
    color: white;
    background: black;
    display: inline-block;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

li a {
    color: white;
}

a:hover {
    color:#CFCFCF;
    cursor: pointer;
}

ul.dropdown {
    background: black;
    visibility: hidden;
    opacity: 0;
    min-width: 1rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0;
    display: none;
}

ul li:hover > ul,
 ul li:focus-within > ul,
 ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

img.main {
    /*top: 5rem;*/
    position: relative;
    width: 100%; 
}

div.main {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: 1rem auto 1rem;
    grid-gap: 0.5rem 0.5rem;
    justify-items: center;
    grid-template-areas: 
        '. welcome .'
        '. triangle .'
        '. quote .'; 
}

img.triangle {
    width: 10%;
    position: relative;
    grid-area: triangle; 
    padding-top: 1.25rem;
}

main {
    /*top: 6rem;*/
    position: relative;
} 

img {
    width: 100%; 
} 

img.connect {
    left: 0;
    width: 50%;
}

h2.center {
    text-align: center;
    font-weight: lighter;
    /*top: 5rem;*/
    position: relative;
    grid-area: welcome; 
}

p.center {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    margin: 1rem;
    /*top: 5.3rem;*/
    position: relative;
}

div.quote {
    background-color: white;
    color: black;
    grid-area: quote;
}

h4 {
    margin: 1rem 1.7rem;
    text-align: center;
    font-weight: lighter;
}

p {
    margin: 0 1.3rem 0 1.3rem; 
    font-weight: lighter;
}

p.about {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

li {
    margin-right: 1.5rem; 
    font-weight: lighter;
}

ul.ed {
    list-style-type: none;
    margin-right: 1.5rem; 
    font-weight: lighter;
    color: black;
    background-color: white;
    line-height: 1.3;
}

p.title {
    padding-bottom: 0.5rem;
}

ul.resume {
    list-style-type: circle;
    color: black;
    background-color: white;
    line-height: 1.3;
}

#space {
    padding-top: 0.75rem;
}

h2 {
    margin: 0.25rem 1rem 0.25rem 0.75rem;
    font-weight: normal;
}

main.form {
    display: grid;
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: 2rem auto 2rem;
    grid-gap: 0.5rem 0.5rem;
    grid-template-areas: 
        '. intro .'
        '. form .'
        '. . linkedin'; 
    justify-items: center;
}

div.form {
    background-color: white;
    color: black; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    grid-area: intro; 
    margin-bottom: 1rem;
}


form {
    grid-area: form;
    margin-top: 1rem;
}

form[action=message] {
    margin-top: 4rem;
}

input {
    margin: 0.25rem 2rem 1.25rem;
    border: 1px solid #CFCFCF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

input.name {
    margin-bottom: 0.25rem;
}

textarea {
    margin: 0.25rem 2rem 1.25rem;
    resize: none;
    border: 1px solid #CFCFCF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

input[type=button] {
    border: none;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.51rem;
    cursor: pointer;
    
}

p.form {
    margin-left: 2rem;
    margin-right: 0;
    font-weight: normal;
}

p.name {
    margin: 0 0 1rem 2rem;
    font-weight: lighter;
    font-size: 60%;

}

a.connect {
    grid-area: linkedin;
    justify-items: start;
    align-items: start;
}

img.linkedin {
    width: 90%;
    position: relative;
    padding-right: 0.3rem;
    justify-self: start;
    align-self: start; 
}

